* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

 
//index.html

body {
    background: #c7c7c7;
}
.container {
    height: 100%;
}


header {
    background: #FE1010;
    height: 10vh;
    padding-left: 10px;
    padding-top: 5px;
    }

.left-bar-wrapper {
    // background: #2a5f83;
    // height: fit-content;
    float: left;
    display: flex;
    position: relative;
    overflow: hidden;
}

.container .left-bar-wrapper .left-bar {
    width: 50px;
    min-height: 90vh;
    background: #FE1010;
    padding: 3px 10px;
    font-size: 10px;
    
}

.container .left-bar-wrapper .left-bar ul{
   font-size: 40px;
   padding-left: 5px;
}

.left-bar ul li a img {
    color: white;
}

.container .left-bar-wrapper .left-bar .icon_img{
    max-width: 50%;
}
// .left-bar-wrapper .left-bar ul li a img {
//     font-size: 20px;
    
// }

.body-sec-apply {
    // background-color: blue;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5px;
}

.b_buttons {
    max-width: 20vw;
    padding: 3px;
}

.b_request {
    font-size: 20px;
    border-radius: 5px;
}

.b_replace {
    font-size: 20px;
    border-radius: 5px;
}

.b_surrender {
    font-size: 20px;
    border-radius: 5px;
}

.apply-button {
    margin-left: 500px;
    // background-color: #FE1010;
    width: 70px;
    
    margin-top: 3px;
}

img .img_logo {
    width: 30px;
    height: 40px;
}

.submit {
    background-color: #FE1010;
    color: white;
    border-radius: 10px;
    width: max-content;
}

footer {
    font-style: italic;
    background-color: #FE1010;
    padding: 14px;
    text-align: center;
    color: #fff;
    right: 0;
    left: 0;
    position: absolute;
    bottom: 0;
}


//apply.html
.ap-h2 {
    text-align: center;
}

.ap-h4 {
    padding-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.form-app {
    margin-left: 20px;
}


.email {
    width: 180px;
    margin-bottom: 5px;
}

 ul .phone {
    margin-bottom: 5px;
    margin-left: 50px;
}

.id-no {
    margin-bottom: 5px;
}

.input-box input {
    width: 30%;
    height: 50%;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, .4);
    padding: 5px 0;
    margin: 10px 0;
    padding-left: 30px;
}
ul .input-box{
    // background-color: #FE1010;
    margin-left: 90px;
}
.apply-button-2 {
    margin-left: 19%;
    margin-top: 20px;
    // width: 30%;
    height: 70%;
}

.apply-button-2 input {
    width: 15%;
    height: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #d35050;
    color: #fff;
}

.textarea {
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Calibri', Courier, monospace;
    font-size: 13px;
    width: 30%;
    height: 100px;
    line-height: 1.4;
    transition: all .2s;
}


//admin.html
.flx{
    display: flex;
    // background-color: #d35050;
}

.flx .to-issue {
    width: 85%;
}

ul .user-type {
    margin-left: 90px;
}


// .date {
//     // background-color: chocolate;
// }

.to-flec ul{
    display: flex;
}
